{{#> layout currentPage='Blog'}}

<h1 style="text-align: center; margin-top: 20px;">My Blog</h1>
{{#if user}}
<div style="width: 90%; margin: 10px auto; text-align: right;">
  <a href="/blog-create" class="blog-post-button active-on">Create</a>
</div>
{{/if}}

<main>
    <section id="blogList" class="blog-list">
        
        {{#each blogs}}
        <article class="blog-item">
            <div class="blog-item-img">
                <img src={{this.image}} alt="Blog Image">
            </div>
            <div class="blog-item-text">
                <div>
                    <div class="blog-item-buttons">
                        <a href="/blog-edit/{{this.id}}" style="text-decoration: none;" class="btn btn-primary active-ontwo">Edit Blog</a>
                        <form style="display: inline;" action="/blog/{{this.id}}?_method=DELETE" method="post">
                            <button onclick="return confirm('Are you sure want to delete?')" class="btn btn-danger active-ontwo" type="submit">Delete Blog</button>
                        </form>
                    </div>
                    <a href="blog/{{this.id}}" style="text-decoration: none">
                        <h1 class="blog-item-title">
                            {{this.title}}
                        </h1>
                    </a>
                    <p>{{formatDateToWIB this.createdAt}} | Owsla Skrillex</p>
                    <p>Last Edit : {{formatDateToWIB this.updatedAt}}</p>
                    <p>
                        {{this.content}}
                    </p>
                </div>
                <p class="blog-item-relative-time">{{getRelativeTime this.createdAt}}</p>
            </div>
        </article>
        {{/each}}

    </section>
</main>

{{/layout}}